body {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 10rem;
}

.wrapper {
    background-color: rgb(5, 5, 5);
    padding: 1px;
    text-align: center;
    color: white;
    width: fit-content;
    
}

p {
    margin: 0px;
    padding: 0px;
}

#project {
    margin: 5px;
    margin-left: 150px;
    padding: 0px;
    width: fit-content;
    color: white;
}

button {
    height: 30px;
    width: 80px;
    border: 0px;
    padding: .2rem;
    border: 1px solid white;
}

#canvasVideo {
    border : 1px solid black;
    width: 550px;
    height: 350px;
    background-color: white;
}

#canvasVideoProject {
    border: 1px solid black;
    width: 550px;
    height: 350px;
    background-color: white;
}
